body {
  background-color: #ABEBC6;
  color: black;
}

.bg-color {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 30px;
}

.effect {
  height: 30vh;
  width: 30vh;
  animation-name: rebote;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes rebote {
  0% {
    transform:translateY(-150px);
  }

  25%, 100% {
    transform:translateY(0px);
  }

  50% {
    transform:translateY(-75px);
  }
}

.bg-fondo {
  background-image: url(../assets/images/fondo.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.trans {
  background-color: rgb(244, 236, 232);
  height: 100vh;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  margin-top: 50px;
  overflow: visible;
}

.line:after {
  content: 'O CONECTATE CON';
  font-size: 16px;
  background-color: rgb(244, 236, 232);
  position: relative;
  top: -0.8em;
  padding: 0 2em;
}

.logo {
  height: 20vh;
  width: 20vh;
}

.container {
  padding: 20px;
}

.box {
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow:  0px 2px 11px 6px rgba(88,87,97,1);
  /* box-shadow: 5px 5px 5px black; */
}

.box-2 {
  /* background-color: white; */
  margin-top: 20px;

}

.new-item {
  background-color: white;
  box-shadow:  0px 2px 11px 6px rgba(88,87,97,1);
  /* box-shadow: 5px 5px 5px black; */
  margin-top: 10px;
  margin-bottom: 10px;
    border-radius: 5px;
}
