<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Enlace Icono de Pestaña-->
    <link rel="icon" href="../assets/images/bebe.ico">
    <!-- Enlace a Bootstrap compilado y minificado-->
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Enlace a hoja de estilo externa -->
    <link rel="stylesheet" href="../css/main.css">
    <title>Pataditas</title>
  </head>
  <body>
    <header>
      <ul id="slide-out" class="side-nav fixed">
       <li><div class="user-view">
         <div class="background">
           <img src="../assets/images/fondo-avatar.jpg">
         </div>
         <a href="#!user"><img class="circle" src="../assets/images/mama.png"></a>
         <a href="#!name"><span class="black-text name">Maria</span></a>
       </div></li>
       <li><a href="#!"><i class="material-icons">person</i>Mi Perfil</a></li>
       <li><div class="divider"></div></li>
       <li><a class="waves-effect" href="#!"><i class="material-icons">drafts</i>Mensajes</a></li>
       <li><a class="waves-effect" href="#!"><i class="material-icons">people</i>Contactos</a></li>
       <li><a class="waves-effect" href="#!"><i class="material-icons">event_available</i>Eventos</a></li>
       <li><a class="waves-effect" href="#!"><i class="material-icons">create</i>Nombres bebes</a></li>
       <li><a class="waves-effect" href="#!"><i class="material-icons">assignment_ind</i>Consultoría profesional</a></li>
       <li><a class="waves-effect" href="#!"><i class="material-icons">shopping_cart</i>Tienda</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </header>
    <main>
      <div class="chat-block">
        <div class="title">Chat en Linea</div>
        <ol class="online">
          <li><img src="../assets/images/mama.png" alt="user" class="responsive-img profile-photo"></li>
          <li><img src="../assets/images/mama.png" alt="user" class="responsive-img profile-photo"></li>
          <li><img src="../assets/images/mama.png" alt="user" class="responsive-img profile-photo"></li>
          <li><img src="../assets/images/mama.png" alt="user" class="responsive-img profile-photo"></li>
          <li><img src="../assets/images/mama.png" alt="user" class="responsive-img profile-photo"></li>
          <li><img src="../assets/images/mama.png" alt="user" class="responsive-img profile-photo"></li>
          <li><img src="../assets/images/mama.png" alt="user" class="responsive-img profile-photo"></li>
          <li><img src="../assets/images/mama.png" alt="user" class="responsive-img profile-photo"></li>
          <li><img src="../assets/images/mama.png" alt="user" class="responsive-img profile-photo"></li>
        </ol>
      </div>
      <div class="">

      </div>
    </main>
    <!-- jQuery (necesario para los complementos de JavaScript de Bootstrap) -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Enlace a Bootstrap compilado y minificado-->
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/chat.js"></script>
  </body>
</html>
